:root {
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --primary-900: rgba(76, 29, 149, 1);
  --primary-600: rgba(124, 58, 237, 1);
  --primary-300: rgba(196, 181, 253, 1);
  --primary-100: rgba(237, 233, 254, 1);
  --primary-50: rgba(245, 243, 255, 1);
  --secondary-900: rgba(42, 78, 81, 1);
  --secondary-600: rgba(29, 181, 190, 1);
  --secondary-300: rgba(117, 227, 234, 1);
  --secondary-100: rgba(213, 250, 252, 1);
  --secondary-50: rgba(236, 254, 255, 1);
  --neutral-900: rgba(17, 24, 39, 1);
  --neutral-800: rgba(31, 41, 55, 1);
  --neutral-700: rgba(55, 65, 81, 1);
  --neutral-600: rgba(75, 85, 99, 1);
  --neutral-500: rgba(107, 114, 128, 1);
  --neutral-400: rgba(156, 163, 175, 1);
  --neutral-300: rgba(209, 213, 219, 1);
  --neutral-200: rgba(229, 231, 235, 1);
  --neutral-100: rgba(243, 244, 246, 1);
  --neutral-50: rgba(249, 250, 251, 1);
  --accent-01: rgba(193, 229, 192, 1);
  --accent-02: rgba(192, 218, 229, 1);
  --accent-03: rgba(253, 217, 217, 1);
  --accent-04: rgba(255, 195, 216, 1);
  --accent-05: rgba(160, 220, 255, 1);
  --accent-06: rgba(217, 232, 239, 1);
  --accent-07: rgba(249, 181, 1, 1);
  --display-2xl-regular-font-family: "Inter", Helvetica;
  --display-2xl-regular-font-weight: 400;
  --display-2xl-regular-font-size: 72px;
  --display-2xl-regular-letter-spacing: -1.8px;
  --display-2xl-regular-line-height: 90px;
  --display-2xl-regular-font-style: normal;
  --display-2xl-medium-font-family: "Inter", Helvetica;
  --display-2xl-medium-font-weight: 500;
  --display-2xl-medium-font-size: 72px;
  --display-2xl-medium-letter-spacing: -1.8px;
  --display-2xl-medium-line-height: 90px;
  --display-2xl-medium-font-style: normal;
  --display-2xl-semibold-font-family: "Inter", Helvetica;
  --display-2xl-semibold-font-weight: 600;
  --display-2xl-semibold-font-size: 72px;
  --display-2xl-semibold-letter-spacing: -1.8px;
  --display-2xl-semibold-line-height: 90px;
  --display-2xl-semibold-font-style: normal;
  --display-2xl-bold-font-family: "Inter", Helvetica;
  --display-2xl-bold-font-weight: 700;
  --display-2xl-bold-font-size: 72px;
  --display-2xl-bold-letter-spacing: -1.8px;
  --display-2xl-bold-line-height: 90px;
  --display-2xl-bold-font-style: normal;
  --display-xl-regular-font-family: "Inter", Helvetica;
  --display-xl-regular-font-weight: 400;
  --display-xl-regular-font-size: 60px;
  --display-xl-regular-letter-spacing: -1.5px;
  --display-xl-regular-line-height: 72px;
  --display-xl-regular-font-style: normal;
  --display-xl-medium-font-family: "Inter", Helvetica;
  --display-xl-medium-font-weight: 500;
  --display-xl-medium-font-size: 60px;
  --display-xl-medium-letter-spacing: -1.5px;
  --display-xl-medium-line-height: 72px;
  --display-xl-medium-font-style: normal;
  --display-xl-semibold-font-family: "Inter", Helvetica;
  --display-xl-semibold-font-weight: 600;
  --display-xl-semibold-font-size: 60px;
  --display-xl-semibold-letter-spacing: -1.5px;
  --display-xl-semibold-line-height: 72px;
  --display-xl-semibold-font-style: normal;
  --display-xl-bold-font-family: "Inter", Helvetica;
  --display-xl-bold-font-weight: 700;
  --display-xl-bold-font-size: 60px;
  --display-xl-bold-letter-spacing: -1.5px;
  --display-xl-bold-line-height: 72px;
  --display-xl-bold-font-style: normal;
  --display-lg-regular-font-family: "Inter", Helvetica;
  --display-lg-regular-font-weight: 400;
  --display-lg-regular-font-size: 48px;
  --display-lg-regular-letter-spacing: -1.2px;
  --display-lg-regular-line-height: 60px;
  --display-lg-regular-font-style: normal;
  --display-lg-medium-font-family: "Inter", Helvetica;
  --display-lg-medium-font-weight: 500;
  --display-lg-medium-font-size: 48px;
  --display-lg-medium-letter-spacing: -1.2px;
  --display-lg-medium-line-height: 60px;
  --display-lg-medium-font-style: normal;
  --display-lg-semibold-font-family: "Inter", Helvetica;
  --display-lg-semibold-font-weight: 600;
  --display-lg-semibold-font-size: 48px;
  --display-lg-semibold-letter-spacing: -1.2px;
  --display-lg-semibold-line-height: 60px;
  --display-lg-semibold-font-style: normal;
  --display-lg-bold-font-family: "Inter", Helvetica;
  --display-lg-bold-font-weight: 700;
  --display-lg-bold-font-size: 48px;
  --display-lg-bold-letter-spacing: -1.2px;
  --display-lg-bold-line-height: 60px;
  --display-lg-bold-font-style: normal;
  --display-md-regular-font-family: "Inter", Helvetica;
  --display-md-regular-font-weight: 400;
  --display-md-regular-font-size: 36px;
  --display-md-regular-letter-spacing: -0.9px;
  --display-md-regular-line-height: 45px;
  --display-md-regular-font-style: normal;
  --display-md-medium-font-family: "Inter", Helvetica;
  --display-md-medium-font-weight: 500;
  --display-md-medium-font-size: 36px;
  --display-md-medium-letter-spacing: -0.9px;
  --display-md-medium-line-height: 45px;
  --display-md-medium-font-style: normal;
  --display-md-semibold-font-family: "Inter", Helvetica;
  --display-md-semibold-font-weight: 600;
  --display-md-semibold-font-size: 36px;
  --display-md-semibold-letter-spacing: -0.9px;
  --display-md-semibold-line-height: 45px;
  --display-md-semibold-font-style: normal;
  --display-md-bold-font-family: "Inter", Helvetica;
  --display-md-bold-font-weight: 700;
  --display-md-bold-font-size: 36px;
  --display-md-bold-letter-spacing: -0.9px;
  --display-md-bold-line-height: 45px;
  --display-md-bold-font-style: normal;
  --display-sm-regular-font-family: "Inter", Helvetica;
  --display-sm-regular-font-weight: 400;
  --display-sm-regular-font-size: 30px;
  --display-sm-regular-letter-spacing: 0px;
  --display-sm-regular-line-height: 40px;
  --display-sm-regular-font-style: normal;
  --display-sm-medium-font-family: "Inter", Helvetica;
  --display-sm-medium-font-weight: 500;
  --display-sm-medium-font-size: 30px;
  --display-sm-medium-letter-spacing: 0px;
  --display-sm-medium-line-height: 40px;
  --display-sm-medium-font-style: normal;
  --display-sm-semibold-font-family: "Inter", Helvetica;
  --display-sm-semibold-font-weight: 600;
  --display-sm-semibold-font-size: 30px;
  --display-sm-semibold-letter-spacing: 0px;
  --display-sm-semibold-line-height: 40px;
  --display-sm-semibold-font-style: normal;
  --display-sm-bold-font-family: "Inter", Helvetica;
  --display-sm-bold-font-weight: 700;
  --display-sm-bold-font-size: 30px;
  --display-sm-bold-letter-spacing: 0px;
  --display-sm-bold-line-height: 40px;
  --display-sm-bold-font-style: normal;
  --display-xs-regular-font-family: "Inter", Helvetica;
  --display-xs-regular-font-weight: 400;
  --display-xs-regular-font-size: 24px;
  --display-xs-regular-letter-spacing: 0px;
  --display-xs-regular-line-height: 32px;
  --display-xs-regular-font-style: normal;
  --display-xs-medium-font-family: "Inter", Helvetica;
  --display-xs-medium-font-weight: 500;
  --display-xs-medium-font-size: 24px;
  --display-xs-medium-letter-spacing: 0px;
  --display-xs-medium-line-height: 32px;
  --display-xs-medium-font-style: normal;
  --display-xs-semibold-font-family: "Inter", Helvetica;
  --display-xs-semibold-font-weight: 700;
  --display-xs-semibold-font-size: 24px;
  --display-xs-semibold-letter-spacing: 0px;
  --display-xs-semibold-line-height: 32px;
  --display-xs-semibold-font-style: normal;
  --display-xs-bold-font-family: "Inter", Helvetica;
  --display-xs-bold-font-weight: 700;
  --display-xs-bold-font-size: 24px;
  --display-xs-bold-letter-spacing: 0px;
  --display-xs-bold-line-height: 32px;
  --display-xs-bold-font-style: normal;
  --body-xl-regular-font-family: "Inter", Helvetica;
  --body-xl-regular-font-weight: 400;
  --body-xl-regular-font-size: 20px;
  --body-xl-regular-letter-spacing: 0px;
  --body-xl-regular-line-height: 28px;
  --body-xl-regular-font-style: normal;
  --body-xl-medium-font-family: "Inter", Helvetica;
  --body-xl-medium-font-weight: 500;
  --body-xl-medium-font-size: 20px;
  --body-xl-medium-letter-spacing: 0px;
  --body-xl-medium-line-height: 28px;
  --body-xl-medium-font-style: normal;
  --body-xl-semibold-font-family: "Inter", Helvetica;
  --body-xl-semibold-font-weight: 600;
  --body-xl-semibold-font-size: 20px;
  --body-xl-semibold-letter-spacing: 0px;
  --body-xl-semibold-line-height: 28px;
  --body-xl-semibold-font-style: normal;
  --body-xl-bold-font-family: "Inter", Helvetica;
  --body-xl-bold-font-weight: 700;
  --body-xl-bold-font-size: 20px;
  --body-xl-bold-letter-spacing: 0px;
  --body-xl-bold-line-height: 28px;
  --body-xl-bold-font-style: normal;
  --body-lg-regular-font-family: "Inter", Helvetica;
  --body-lg-regular-font-weight: 400;
  --body-lg-regular-font-size: 18px;
  --body-lg-regular-letter-spacing: 0px;
  --body-lg-regular-line-height: 28px;
  --body-lg-regular-font-style: normal;
  --body-lg-medium-font-family: "Inter", Helvetica;
  --body-lg-medium-font-weight: 500;
  --body-lg-medium-font-size: 18px;
  --body-lg-medium-letter-spacing: 0px;
  --body-lg-medium-line-height: 28px;
  --body-lg-medium-font-style: normal;
  --body-lg-semibold-font-family: "Inter", Helvetica;
  --body-lg-semibold-font-weight: 600;
  --body-lg-semibold-font-size: 18px;
  --body-lg-semibold-letter-spacing: 0px;
  --body-lg-semibold-line-height: 28px;
  --body-lg-semibold-font-style: normal;
  --body-lg-bold-font-family: "Inter", Helvetica;
  --body-lg-bold-font-weight: 700;
  --body-lg-bold-font-size: 18px;
  --body-lg-bold-letter-spacing: 0px;
  --body-lg-bold-line-height: 28px;
  --body-lg-bold-font-style: normal;
  --body-md-regular-font-family: "Inter", Helvetica;
  --body-md-regular-font-weight: 400;
  --body-md-regular-font-size: 16px;
  --body-md-regular-letter-spacing: 0px;
  --body-md-regular-line-height: 24px;
  --body-md-regular-font-style: normal;
  --body-md-medium-font-family: "Inter", Helvetica;
  --body-md-medium-font-weight: 500;
  --body-md-medium-font-size: 16px;
  --body-md-medium-letter-spacing: 0px;
  --body-md-medium-line-height: 24px;
  --body-md-medium-font-style: normal;
  --body-md-semibold-font-family: "Inter", Helvetica;
  --body-md-semibold-font-weight: 600;
  --body-md-semibold-font-size: 16px;
  --body-md-semibold-letter-spacing: 0px;
  --body-md-semibold-line-height: 24px;
  --body-md-semibold-font-style: normal;
  --body-md-bold-font-family: "Inter", Helvetica;
  --body-md-bold-font-weight: 700;
  --body-md-bold-font-size: 16px;
  --body-md-bold-letter-spacing: 0px;
  --body-md-bold-line-height: 24px;
  --body-md-bold-font-style: normal;
  --body-sm-regular-font-family: "Inter", Helvetica;
  --body-sm-regular-font-weight: 400;
  --body-sm-regular-font-size: 14px;
  --body-sm-regular-letter-spacing: 0px;
  --body-sm-regular-line-height: 20px;
  --body-sm-regular-font-style: normal;
  --body-sm-medium-font-family: "Inter", Helvetica;
  --body-sm-medium-font-weight: 500;
  --body-sm-medium-font-size: 14px;
  --body-sm-medium-letter-spacing: 0px;
  --body-sm-medium-line-height: 20px;
  --body-sm-medium-font-style: normal;
  --body-sm-semibold-font-family: "Inter", Helvetica;
  --body-sm-semibold-font-weight: 600;
  --body-sm-semibold-font-size: 14px;
  --body-sm-semibold-letter-spacing: 0px;
  --body-sm-semibold-line-height: 20px;
  --body-sm-semibold-font-style: normal;
  --body-sm-bold-font-family: "Inter", Helvetica;
  --body-sm-bold-font-weight: 700;
  --body-sm-bold-font-size: 14px;
  --body-sm-bold-letter-spacing: 0px;
  --body-sm-bold-line-height: 20px;
  --body-sm-bold-font-style: normal;
  --body-xs-regular-font-family: "Inter", Helvetica;
  --body-xs-regular-font-weight: 400;
  --body-xs-regular-font-size: 12px;
  --body-xs-regular-letter-spacing: 0px;
  --body-xs-regular-line-height: 16px;
  --body-xs-regular-font-style: normal;
  --body-xs-medium-font-family: "Inter", Helvetica;
  --body-xs-medium-font-weight: 500;
  --body-xs-medium-font-size: 12px;
  --body-xs-medium-letter-spacing: 0px;
  --body-xs-medium-line-height: 16px;
  --body-xs-medium-font-style: normal;
  --body-xs-semibold-font-family: "Inter", Helvetica;
  --body-xs-semibold-font-weight: 600;
  --body-xs-semibold-font-size: 12px;
  --body-xs-semibold-letter-spacing: 0px;
  --body-xs-semibold-line-height: 16px;
  --body-xs-semibold-font-style: normal;
  --body-xs-bold-font-family: "Inter", Helvetica;
  --body-xs-bold-font-weight: 700;
  --body-xs-bold-font-size: 12px;
  --body-xs-bold-letter-spacing: 0px;
  --body-xs-bold-line-height: 16px;
  --body-xs-bold-font-style: normal;
  --shadow-xs: 0px 1px 2px 0px rgba(17, 24, 39, 0.05);
  --shadow-sm: 0px 1px 2px 0px rgba(17, 24, 39, 0.06), 0px 1px 3px 0px
    rgba(17, 24, 39, 0.1);
  --shadow-md: 0px 2px 4px -2px rgba(17, 24, 39, 0.06), 0px 4px 8px -2px
    rgba(17, 24, 39, 0.1);
  --shadow-lg: 0px 4px 6px -2px rgba(17, 24, 39, 0.05), 0px 12px 16px -4px
    rgba(17, 24, 39, 0.1);
  --shadow-xl: 0px 8px 8px -4px rgba(17, 24, 39, 0.04), 0px 20px 24px -4px
    rgba(17, 24, 39, 0.1);
  --shadow-2xl: 0px 24px 48px -12px rgba(17, 24, 39, 0.25);
}
